<div class='row-fluid'>
  <div class='control-group text-center'>
    <div id="light" class="switch" data-on="primary" data-off="danger">
      <input type="checkbox" data-on-url="<%= switch_light_path(:on) %>" data-off-url="<%= switch_light_path(:off) %>">
    </div>
  </div>
</div>